/* Estilo carrusel */
 .carousel-inner {
        max-height: 350px; /* Ajusta este valor según lo que necesites */
    }
    .carousel-inner img {
        max-height: 350px;
        object-fit: cover;
        width: 100%;
    }

